In [2]:
import json
import requests
import pandas as pd
import numpy as np
from dicts.coches_net import car_id

In [3]:
print(car_id)

{0: 'Todas las marcas', 1330: 'ABARTH', 1355: 'ACURA', 1408: 'AIWAYS', 1: 'ALFA ROMEO', 1377: 'ALPINE', 238: 'ARO', 1326: 'ASIA', 2: 'ASIA MOTORS', 3: 'ASTON MARTIN', 4: 'AUDI', 111: 'AUSTIN', 1321: 'AUVERLAND', 6: 'BENTLEY', 241: 'BERTONE', 7: 'BMW', 1345: 'BUGATTI', 1356: 'BUICK', 1352: 'BYD', 8: 'CADILLAC', 1357: 'CATERHAM', 1415: 'CENNTRO', 9: 'CHEVROLET', 10: 'CHRYSLER', 11: 'CITROEN', 1327: 'CORVETTE', 1400: 'CUPRA', 1011: 'DACIA', 12: 'DAEWOO', 13: 'DAIHATSU', 145: 'DAIMLER', 1359: 'DATSUN', 1351: 'DFSK', 173: 'DODGE', 1401: 'DR AUTOMOBILES', 1358: 'DS', 146: 'FERRARI', 14: 'FIAT', 15: 'FORD', 1397: 'FUSO', 16: 'GALLOPER', 1360: 'GMC', 1361: 'HOLDEN', 69: 'HONDA', 234: 'HUMMER', 18: 'HYUNDAI', 1409: 'INEOS', 1025: 'INFINITI', 185: 'INNOCENTI', 1405: 'INVICTA', 1413: 'INVICTA ELECTRIC', 19: 'ISUZU', 126: 'IVECO', 20: 'JAGUAR', 21: 'JEEP', 22: 'KIA', 1349: 'KTM', 153: 'LADA', 243: 'LAMBORGHINI', 23: 'LANCIA', 24: 'LAND-ROVER', 128: 'LDV', 1407: 'LEVC', 25: 'LEXUS', 147: 'LOTUS', 1404: 'LYNK & CO', 246: 'MAHINDRA', 26: 'MASERATI', 1403: 'MAXUS', 1323: 'MAYBACH', 27: 'MAZDA', 1347: 'MCLAREN', 28: 'MERCEDES-BENZ', 29: 'MG', 222: 'MINI', 30: 'MITSUBISHI', 149: 'MORGAN', 31: 'NISSAN', 32: 'OPEL', 33: 'PEUGEOT', 87: 'PIAGGIO', 1402: 'POLESTAR', 112: 'PONTIAC', 34: 'PORSCHE', 1348: 'QOROS', 35: 'RENAULT', 1329: 'RENAULT V.I.', 36: 'ROLLS-ROYCE', 37: 'ROVER', 38: 'SAAB', 1399: 'SAIC', 1328: 'SANTANA', 39: 'SEAT', 40: 'SKODA', 41: 'SMART', 42: 'SSANGYONG', 43: 'SUBARU', 44: 'SUZUKI', 1411: 'SWM', 156: 'TALBOT', 45: 'TATA', 1354: 'TESLA', 46: 'TOYOTA', 1353: 'TRIDENT', 1324: 'UMM', 1325: 'VAZ', 47: 'VOLKSWAGEN', 48: 'VOLVO', 101: 'YAMAHA'}

In [ ]:
# get marcas
url_marcas = 'https://web.gw.coches.net/makes?categoryId=2500'
make_id = url_marcas.json()['nombre del coche'][0]['id']
# get modelos
url_modelos = f'https://web.gw.coches.net/vehicle-specs/v1/models?section1Id=2500&makeId={make_id}'

In [23]:
url = 'https://ms-mt--api-web.spain.advgo.net/search/listing'


payload = {"pagination":{"page":1,"size":30},"sort":{"order":"desc","term":"relevance"},"filters":{"isFinanced":False,"price":{"from":None,"to":None},
"bodyTypeIds":[],"categories":{"category1Ids":[2500]},"contractId":0,"drivenWheelsIds":[],"environmentalLabels":["B"],"equipments":[],"fuelTypeIds":[],"hasPhoto":None,"hasWarranty":None,
"hp":{"from":None,"to":None},"isCertified":False,"km":{"from":None,"to":None},"luggageCapacity":{"from":None,"to":None},"onlyPeninsula":False,"offerTypeIds":[0,2,3,4,5],"provinceIds":[],
"sellerTypeId":0,"transmissionTypeId":0,"vehicles":[{"make":"Todas las marcas","makeId":0,"model":"Todos los modelos","modelId":0}],"year":{"from":None,"to":None}}}

pay = {"pagination":{"page":1,"size":30},"sort":{"order":"desc","term":"relevance"},"filters":{"isFinanced":False,"price":{"from":None,"to":None},
"bodyTypeIds":[],"categories":{"category1Ids":[2500]},"contractId":0,"drivenWheelsIds":[],"environmentalLabels":[],"equipments":[],"fuelTypeIds":[],"hasPhoto":None,"hasStock":None,"hasWarranty":None,
"hp":{"from":None,"to":None},"isCertified":False,"km":{"from":None,"to":None},"luggageCapacity":{"from":None,"to":None},"onlyPeninsula":False,"offerTypeIds":[5,2,4,0,3],"provinceIds":[],
"sellerTypeId":0,"transmissionTypeId":0,"vehicles":[{"makeId":4,"modelId":0,"model":""}],"year":{"from":None,"to":None}}}


headers = {
    'authority': 'ms-mt--api-web.spain.advgo.net',
    'method': 'POST',
    'path': '/search/listing',
    'scheme': 'https',
    'accept': 'application/json, text/plain, */*',
    'accept-encoding': 'gzip, deflate, br',
    'accept-language': 'en-GB,en-US;q=0.9,en;q=0.8,es;q=0.7',
    'content-length': '660',
    'content-type': 'application/json',
    'origin': 'https://www.coches.net',
    'referer': 'https://www.coches.net/',
    'sec-ch-ua': '"Google Chrome";v="111", "Not(A:Brand";v="8", "Chromium";v="111"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'cross-site',
    'sec-gpc': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36',
    'x-adevinta-amcvid': '55220322368772311679171644677997689815',
    'x-adevinta-channel': 'web-desktop',
    'x-adevinta-euconsent-v2': 'CPoooA2PoooA2CBAqAESC7CoAP_AAP_AAAiQJStd_H__bX9v-f7_6ft0eY1f9_r77uQzDhfNs-4F3L_W_LwX_2E7NF36tq4KmRYku1LBIUNtHNnUDVmxaokVrzHsak2cpTNKJ-BkkHsZe2dYGF5vm5tj-QKZ5_5_d3f52T_9_9v-39z33913vzd9_-_12Pjde5_9H_v_fR_b8_Kf9_7-_8v8_9_rk3_e___________-4JStd_H__bX9v-f7_6ft0eY1f9_r77uQzDhfNs-4F3L_W_LwX_2E7NF36tq4KmRYku1LBIUNtHNnUDVmxaokVrzHsak2cpTNKJ-BkkHsZe2dYGF5vm5tj-QKZ5_5_d3f52T_9_9v-39z33913vzd9_-_12Pjde5_9H_v_fR_b8_Kf9_7-_8v8_9_rk3_e___________-4AA',
    'x-adevinta-session-id': 'a91bcbc6-43df-45f9-bb38-2e161bc3a961',
    'x-schibsted-tenant': 'coches'
}

In [33]:
def req_all(url, payload, headers):
    page_num = 1
    total_pages = 1
    res = []

    while page_num <= total_pages:
        payload["pagination"]["page"] = page_num

        response = requests.post(url, json=payload, headers=headers)
        data = response.json()
        res += data["items"]
        total_pages = data["meta"]["totalPages"]
        page_num += 1

    return res

def pay(marca, car_id):
    id = list(car_id.keys())[list(car_id.values()).index(marca)]
    return {"pagination":{"page":1,"size":30},"sort":{"order":"desc","term":"relevance"},"filters":{"isFinanced":False,"price":{"from":0,"to":3000},
    "bodyTypeIds":[],"categories":{"category1Ids":[2500]},"contractId":0,"drivenWheelsIds":[],"environmentalLabels":["B"],"equipments":[],"fuelTypeIds":[],"hasPhoto":None,"hasWarranty":None,
    "hp":{"from":None,"to":None},"isCertified":False,"km":{"from":0,"to":260000},"luggageCapacity":{"from":None,"to":None},"onlyPeninsula":True,"offerTypeIds":[0,2,3,4,5],"provinceIds":[],
    "sellerTypeId":0,"transmissionTypeId":0,"vehicles":[{"make":str(marca),"makeId":id}],"year":{"from":2001,"to":None}}}

In [34]:
# res = req_all(url, gen_payload("VOLKSWAGEN","Touareg"), headers)
res = req_all(url, pay(input("Marca de coche: "), car_id), headers)
df = pd.DataFrame(res)

In [35]:
# df.to_csv('coches.csv')
df.columns
cols = ['creationDate', 'publishedDate','cubicCapacity',
       'provinceIds', 'resources', 'bodyTypeId', 'warranty', 'isFinanced', 'isCertified',
       'isProfessional', 'hasUrge', 'offerType',
       'drivenWheelsId', 'contractId']
for col in cols:
    if col in df.columns:
        df = df.drop(col, axis=1)

# Función para extraer el valor de la clave 'amount' del diccionario en la columna 'price'
def get_price(row):
    return row['price']['amount']

# Aplicar la función para crear una nueva columna con el valor de 'amount'
df['price'] = df.apply(get_price, axis=1)

def get_url(row):
    return 'https://www.coches.net'+row['url']

df['url'] = df.apply(get_url , axis =1)

In [37]:
df.head()

,id,title,url,price,km,year,mainProvince,makeId,modelId,fuelTypeId,phone,environmentalLabel,pack,transmissionTypeId,videos
0,57010490,OPEL Astra GTC 1.9 CDTi 120 CV Cosmo 3p.,https://www.coches.net/opel-astra-gtc-19-cdti-...,2999,239000,2006,Madrid,32,67,1,611500377,B,"{'legacyId': 19, 'type': 'discover'}",2,NaN
1,57087202,PEUGEOT 207 Sport 1.6 HDI 90 3p.,https://www.coches.net/peugeot-207-sport-16-hd...,2399,230000,2009,Madrid,33,587,1,654841483,B,NaN,2,NaN
2,57087326,MAZDA Mazda6 Active CRTD 2.0 16v 143 CV 4p.,https://www.coches.net/mazda-mazda6-active-crt...,2490,232900,2006,Madrid,27,453,1,691027873,B,"{'legacyId': 30, 'type': 'expert'}",2,NaN
3,57087441,CITROEN C3 1.4 HDi Audace 5p.,https://www.coches.net/citroen-c3-14-hdi-audac...,1200,217000,2008,Madrid,11,485,1,646760268,B,NaN,2,NaN
4,57085932,RENAULT Laguna Privilege 2.0dCi 130CV 5p.,https://www.coches.net/renault-laguna-privileg...,1950,226000,2007,Alicante,35,54,1,642801036,B,"{'legacyId': 19, 'type': 'discover'}",2,NaN