In [1]:
import urllib.parse
import requests
import pandas as pd
import numpy as np

/Users/matias/Documents/Proyectos/app-coches/.venv/lib/python3.8/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:
make = 'audi'
model = 'a3'
yearMin = 2010
yearMax = 2020
kmMin = 0
kmMax = 100000
priceMin = 0
priceMax = 100000

parametros = {
    'filters_source': 'suggester',
    'keywords': make + ' ' + model,
    'category_ids': 100,
    'longitude': -3.69196,
    'latitude': 40.41956,
    'yearMin': yearMin,
    'yearMax': yearMax,
    'kmMin': kmMin,
    'kmMax': kmMax,
    'priceMin': priceMin,
    'priceMax': priceMax
}

url_base = 'https://api.wallapop.com/api/v3/cars/search?'
url_completa = url_base + urllib.parse.urlencode(parametros)
response = requests.get(url_completa)
print(response)
df_walla = pd.DataFrame()
if response.ok:
    try:
        data = response.json()
        rows = []
        for obj in data['search_objects']:
            row = obj['content']
            rows.append(row)
        df_walla = pd.DataFrame(rows)
    except Exception as e:
        print("Error:", e)
print(df_walla.columns)

<Response [200]>
Index(['id', 'title', 'storytelling', 'distance', 'images', 'user', 'flags',
       'visibility_flags', 'price', 'currency', 'web_slug', 'category_id',
       'brand', 'model', 'year', 'version', 'km', 'engine', 'gearbox',
       'horsepower', 'favorited', 'creation_date', 'modification_date',
       'location', 'shipping', 'supports_shipping'],
      dtype='object')

In [66]:
df_walla['web_slug'].head(20)

0                               audi-a3-2020-1008786846
1                                audi-a3-2012-994852781
2                               audi-a3-2011-1007111232
3     audi-a3-sportback-40-tdi-quattro-stronic-200cv...
4     audi-a3-cabrio-sline-edition-1-6-tdi-110cv-100...
5                       audi-a3-2-0-fsi-2004-1000888969
6     audi-a3-sb-design-30-tdi-s-tronic-116-cv-10085...
7     audi-a3-sedan-advanced-30-tdi-s-tronic-116-cv-...
8       audi-a3-sb-advanced-35-tdi-s-t-150-cv-980351100
9     audi-a3-sedan-s-line-35-tdi-s-tronic-150-cv-10...
10    audi-a3-sportback-s-line-35-tdi-s-tronic-150-c...
11    audi-a3-sportback-s-line-35-tdi-s-tronic-150-c...
12    audi-a3-sedan-s-line-35-tdi-s-tronic-150-cv-99...
13    audi-a3-s-line-edition-1-6-tdi-sportback-97412...
14    audi-a3-sportback-35-tfsi-110kw-s-tronic-99071...
15    audi-a3-sportback-30-tfsi-85-kw-116-cv-1004978023
16    audi-a3-35-tdi-110kw-150cv-s-tronic-sportback-...
17    audi-a3-sportback-advanced-35-tfsi-110-kw-150-...
18      audi-a3-2019-s-line-s-tonic-nacional-1005634475
19                              audi-a3-2013-1009598796
Name: web_slug, dtype: object

In [21]:
async def get_data_coches_com(make: str, model: str, yearMin: int, yearMax: int, kmMin: int, kmMax: int, priceMin: int, priceMax: int):
    parametros = {
        'tipo_busqueda': '2',
        'seminuevo': '0',
        'ord[]': 'marca_up',
        'searched3': '',
        'color': '',
        'combustible_id': '',
        'precio_desde': priceMin,
        'precio_hasta': priceMax,
        'scf_fee_desde': '',
        'scf_fee_hasta': '',
        'potencia_desde': '',
        'potencia_hasta': '',
        'km_desde': kmMin,
        'km_hasta': kmMax,
        'anyo_desde': yearMin,
        'anyo_hasta': yearMax,
        'cambio': '',
        'puertas': '',
        'plazas': '',
        'vendedor': '',
        'make_list[]': '',
        'transmission_name': '',
        'agent_type_name': '',
        'has_financing': '',
        'reservable': '',
        'search3': model,
    }
    url_base = 'https://www.coches.com/api/vo/pills/?'
    url_completa = url_base + urllib.parse.urlencode(parametros)
    response = requests.get(url_completa)
    df_com = pd.DataFrame()
    if response.ok:
        try:
            data = response.json()
            df_com = pd.DataFrame(data['pills'])
            print(df_com.columns)
        except Exception as e:
            print("Error", e)
    return df_com

df = await get_data_coches_com(make, model, yearMin, yearMax, kmMin, kmMax, priceMin, priceMax)
# kkeep only price without .  and €
df['price'] = df['price'].str.replace('.', '')
df['price'] = df['price'].str.replace('€', '')
df['price'] = df['price'].astype(int)
print(df['price'])

Index(['id', 'photoUrl', 'countImage', 'image', 'dateUpdate', 'price', 'url',
       'make', 'model', 'version', 'versionName', 'fuel', 'cv', 'km',
       'provinceName', 'year', 'alt', 'bandInfo', 'isFavorite', 'basePrice',
       'scfFee', 'scfInitialFee', 'scfFeesNumber', 'scfTae', 'scfTin',
       'scfDownPayment', 'dealerId', 'isReservable', 'financeLegalText',
       'pollutionTag', 'financialEntity', 'financialExpiration'],
      dtype='object')
0     18995
1     26900
2     17999
3     22900
4     16390
5     18900
6     41990
7     41490
8     19590
9     18900
10    19490
11    15190
12    23999
13    23590
14    17500
15    38990
16    19999
17    24900
18    26990
19    20990
Name: price, dtype: int64

In [68]:
print(data['pills'][0]['url'])

https://www.coches.com/coches-segunda-mano/ocasion-audi-a3-s3-sportback-20-tfsi-quattro-s-tronic-en-barcelona.htm?id=8125894

In [11]:

url = "https://api-middleware.pro.pvt.coches.com/v1/classified"
params = {
    "page": "0",
    "limit": "20",
    "filters[model][id][]": "elBEQTRvS091NXd0YURweEh5V09vUT09",
    "filters[price][amount][from]": "500",
    "filters[price][amount][to]": "15000",
    "filters[mileage][amount][from]": "2500",
    "filters[mileage][amount][to]": "200000",
    "filters[registration][year][from]": "2000",
    "filters[registration][year][to]": "2024",
    "filters[category][]": ["1", "2", "3"]
}
headers = {
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate, br",
    "Accept-Language": "es-es",
    "Access-Token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE3NDcxMjIyNDMsImRldmljZV9pZCI6ImJjYTU5ZDBjLTFmYTctNDZjZC1hNDZmLWJhMDRmNTI4MmY1NSIsInVzZXJfaWQiOiI4Yzc3MTEyNi00YzI4LTRiZDYtOWRhMC05NGI2YWZkMjI4NGMiLCJ1c2VyX25hbWUiOiIiLCJyb2xlIjoiYW5vbnltb3VzIiwic3Vicm9sZXMiOltdLCJhcHAiOjJ9.EvoJN40ie_0g4xBiemTBRelIthy2t3KIRyZ-zJbFKhY",
    "Connection": "keep-alive",
    "Host": "api-middleware.pro.pvt.coches.com",
    "Origin": "https://www.coches.com",
    "Referer": "https://www.coches.com/",
    "Sec-Fetch-Dest": "empty",
    "Sec-Fetch-Mode": "cors",
    "Sec-Fetch-Site": "same-site",
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.6.1 Safari/605.1.15",
    "X-App": "coches.com"
}

response = requests.get(url, params=params, headers=headers)
data = ''
if response.ok:
    try:
        data = response.json()
        df_com = pd.DataFrame(data[list(data.keys())[0]]['classified_list'])
    except Exception as e:
        print("Error:", e)

In [12]:
df_com.head()

,id,make,model,make_model,segment,version,fuel,transmission,traction,body,...,financial_trend,external_id,pollution_tag,visible_id,feeder,purchase_status,category,boosted_at,boost_frequency,car_rate
0,5e46dc5a-d729-4a07-8f76-a4dc6b29750d,"{'id': 'WFp4MlJjK2xyKzJsdHFRaXlqK2M4dz09', 'na...","{'id': 'elBEQTRvS091NXd0YURweEh5V09vUT09', 'na...","{'id': 'elBEQTRvS091NXd0YURweEh5V09vUT09', 'na...","{'id': 'ODdYK3dLeTNpcE8xTi9DQmdMcHF6dz09', 'na...","{'id': 'UUhCaXZsRzVmUVpKZGRqeTNpTzNYQT09', 'na...","{'id': 'eHk3Wi9wWmp4ektlNVBNeUEyNU9MQT09', 'na...","{'id': 'VGNEWlpoNGNNUWxhM3pxWUFPcXVuZz09', 'na...","{'id': 'eTJtV3BYTEFod0JlZjRaUEdESnFHUT09', 'na...","{'id': 'Q3RzRzhEVnozcjFaSnllcWZBQnBEdz09', 'na...",...,"{'trend': 0.02475092591382537, 'scoring': -3.6...",None,C,Xh47hk78ufL3,None,purchasable,3,None,NaN,None
1,cc388d93-c972-4cd9-9e3c-1f07fe586712,"{'id': 'WFp4MlJjK2xyKzJsdHFRaXlqK2M4dz09', 'na...","{'id': 'elBEQTRvS091NXd0YURweEh5V09vUT09', 'na...","{'id': 'elBEQTRvS091NXd0YURweEh5V09vUT09', 'na...","{'id': 'ODdYK3dLeTNpcE8xTi9DQmdMcHF6dz09', 'na...","{'id': 'UUhCaXZsRzVmUVpKZGRqeTNpTzNYQT09', 'na...","{'id': 'eHk3Wi9wWmp4ektlNVBNeUEyNU9MQT09', 'na...","{'id': 'VGNEWlpoNGNNUWxhM3pxWUFPcXVuZz09', 'na...","{'id': 'eTJtV3BYTEFod0JlZjRaUEdESnFHUT09', 'na...","{'id': 'Q3RzRzhEVnozcjFaSnllcWZBQnBEdz09', 'na...",...,"{'trend': 0.02475092591382537, 'scoring': -3.6...",1596184,C,-HWA8XaszGhN,{'feeder_id': 'inventario.pro'},purchasable,3,None,NaN,None
2,8fa05bd1-6ecc-4205-89ed-8f386561117a,"{'id': 'WFp4MlJjK2xyKzJsdHFRaXlqK2M4dz09', 'na...","{'id': 'elBEQTRvS091NXd0YURweEh5V09vUT09', 'na...","{'id': 'elBEQTRvS091NXd0YURweEh5V09vUT09', 'na...","{'id': 'TlVncXJvYTJpZDlkQ2YzYnBsQ2NTdz09', 'na...","{'id': 'dkZxUUh4d1NsN2VXd1lJVkkvOUdMZz09', 'na...","{'id': 'TUI2OWNuZkFrY0J5d0lvM1ErZzZ6Zz09', 'na...","{'id': 'RWJOSnhxR3lYODlBN3M5Zm5pM3RiZz09', 'na...","{'id': 'eTJtV3BYTEFod0JlZjRaUEdESnFHUT09', 'na...","{'id': 'Q3RzRzhEVnozcjFaSnllcWZBQnBEdz09', 'na...",...,"{'trend': 0.009665020646585875, 'scoring': -4....",None,B,jWDEzuk5zkHN,{'feeder_id': 'coches.com'},purchasable,3,2024-05-11T17:00:32+00:00,72.0,None
3,08367343-1ee8-4475-8ea4-3c371c2dd278,"{'id': 'WFp4MlJjK2xyKzJsdHFRaXlqK2M4dz09', 'na...","{'id': 'elBEQTRvS091NXd0YURweEh5V09vUT09', 'na...","{'id': 'elBEQTRvS091NXd0YURweEh5V09vUT09', 'na...","{'id': 'TjlCWFpjWk40Y3hWekdGeDBsMFVPdz09', 'na...","{'id': 'U2NLMG9FbXdVOU91RHE5UzVzZWVMQT09', 'na...","{'id': 'eHk3Wi9wWmp4ektlNVBNeUEyNU9MQT09', 'na...","{'id': 'RWJOSnhxR3lYODlBN3M5Zm5pM3RiZz09', 'na...","{'id': 'eTJtV3BYTEFod0JlZjRaUEdESnFHUT09', 'na...","{'id': 'Q3RzRzhEVnozcjFaSnllcWZBQnBEdz09', 'na...",...,"{'trend': 0.021271835848456575, 'scoring': -3....",48613573,B,ZkutYskZkvAD,{'feeder_id': 'motorflash'},no_purchasable,3,None,NaN,None
4,61162fcb-7592-4a25-a080-a7dd50a69fa4,"{'id': 'WFp4MlJjK2xyKzJsdHFRaXlqK2M4dz09', 'na...","{'id': 'elBEQTRvS091NXd0YURweEh5V09vUT09', 'na...","{'id': 'elBEQTRvS091NXd0YURweEh5V09vUT09', 'na...","{'id': 'UTkxd0VtOGRhMG5xc0orRXArVEdoQT09', 'na...","{'id': 'ckx3MkV2SmxaNDFKdTNHZGlpUFVrdz09', 'na...","{'id': 'TUI2OWNuZkFrY0J5d0lvM1ErZzZ6Zz09', 'na...","{'id': 'VGNEWlpoNGNNUWxhM3pxWUFPcXVuZz09', 'na...","{'id': 'eTJtV3BYTEFod0JlZjRaUEdESnFHUT09', 'na...","{'id': 'UEowWk92akN3K2h6RFNKcWpkOThmUT09', 'na...",...,"{'trend': 0.034554562220234675, 'scoring': -3....",None,C,GyhLOOhGXHLK,{'feeder_id': 'coches.com'},no_purchasable,3,None,NaN,None

In [69]:
same_columns_wallapop = ['id', 'title', 'images', 'price', 'brand', 'model', 'year', 'km', 'engine', 'horsepower','web_slug']
same_columns_coches_com = ['id','image', 'price', 'url' , 'make', 'model' , 'fuel', 'cv', 'km', 'year']
comon_names = ['id','image','price','make','model','year','km','fuelType','horsepower','cv','url']
rename_columns = {
    'web_slug': 'url',
    'engine': 'fuelType',
    'fuel' : 'fuelType',
    'horsepower': 'cv',
    'brand' : 'make',
    'images': 'image',
    'url': 'link'
}
delete_columns = ['title']
df_walla['images'] = df_walla['images'].apply(lambda x: x[0]['original'] if isinstance(x, list) and len(x) > 0 else None)
df_walla['web_slug'] = 'https://es.wallapop.com/item/' + df_walla['web_slug'].astype(str)

df_walla.rename(columns=rename_columns, inplace=True)

df_walla.drop(columns=delete_columns, inplace=True, errors='ignore')

df_com.rename(columns=rename_columns, inplace=True)

df_com.drop(columns=delete_columns, inplace=True, errors='ignore')

df_walla = df_walla[[col for col in comon_names if col in df_walla.columns]]
df_com = df_com[[col for col in comon_names if col in df_com.columns]]

df_walla['site'] = 'walla'

df_com['site'] = 'com'

df = pd.concat([df_com, df_walla], ignore_index=True)
df['price'] = df['price'].fillna(0).replace({'€': '', '.': '', ',': '', '': 0}, regex=True)
df['km'] = df['km'].fillna(0).replace({'€': '', '.': '', ',': '','': 0 }, regex=True)
# pass price and km to numeric
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['km'] = pd.to_numeric(df['km'], errors='coerce')
df['year'] = df['year'].fillna(0).astype(int)
score = (df['price'] - df['price'].mean()) / df['price'].std() + (df['km'] - df['km'].mean()) / df['km'].std() + (df['year'] - df['year'].mean()) / df['year'].std()
df['score'] = score
print(df.columns)

Index(['id', 'image', 'price', 'make', 'model', 'year', 'km', 'fuelType', 'cv',
       'site', 'url', 'score'],
      dtype='object')

In [70]:
print(len(df_walla))
df_walla.head(1)

40

,id,image,price,make,model,year,km,fuelType,cv,url,site
0,8z8k8nplq8z3,https://cdn.wallapop.com/images/10420/go/ls/__...,18500.0,Audi,A3,2020,175000.0,Gasoil,150.0,https://es.wallapop.com/item/audi-a3-2020-1008...,walla

In [71]:
print(len(df_com))
df_com.head(1)

20

,id,image,price,make,model,year,km,fuelType,cv,site
0,8125894,https://images.coches.com/_vo_/fotos/usados/20...,26.900 €,Audi,A3,2014,75.000,Gasolina,300,com