In [61]:
import requests
import pandas as pd
import urllib.parse
import numpy as np
import re

In [62]:
make = 'audi'
model = 'a3'
yearMin = 2010
yearMax = 2020
kmMin = 0
kmMax = 100000
priceMin = 0
priceMax = 10000

'https://api.walla.com/api/v3/cars/search?filters_source=suggester&keywords=audi%20a4&category_ids=100&longitude=-3.69196&latitude=40.41956'
url_base = 'https://api.wallapop.com/api/v3/cars/search?'

parametros = {
    'filters_source': 'suggester',
    'keywords': make + ' ' + model,
    'category_ids': 100,
    'longitude': -3.69196,
    'latitude': 40.41956,
    'yearMin': yearMin,
    'yearMax': yearMax,
    'kmMin': kmMin,
    'kmMax': kmMax,
    'priceMin': priceMin,
    'priceMax': priceMax
}
url_completa = url_base + urllib.parse.urlencode(parametros)
response = requests.get(url_completa)
if response.ok:
    try:
        data = response.json()
        rows = []
        for obj in data['search_objects']:
            row = obj['content']
            rows.append(row)

        df = pd.DataFrame(rows)
    except Exception as e:
        print("Error:", e)

In [63]:
df = df[['title', 'price', 'km', 'engine', 'gearbox', 'horsepower']]

def scrape_year(title):
    # Using regular expression to get a 4-digit combination starting with 1 or 2
    pattern = r'\b(?:1|2)\d{3}\b'
    match = re.search(pattern, title)
    if match:
        year = match.group(0)
        return int(year)
    else:
        return None


df['year'] = df['title'].apply(scrape_year)
df = df.dropna()
df['environmental_label'] = np.nan
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 0 to 27
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                11 non-null     object
 1   price                11 non-null     float64
 2   km                   11 non-null     float64
 3   engine               11 non-null     object
 4   gearbox              11 non-null     object
 5   horsepower           11 non-null     float64
 6   year                 11 non-null     float64
 7   environmental_label  0 non-null      float64
dtypes: float64(5), object(3)
memory usage: 792.0+ bytes

In [64]:
import urllib.parse
import requests
import pandas as pd
import numpy as np

In [65]:
make = 'audi'
model = 'a3'
yearMin = 2010
yearMax = 2020
kmMin = 0
kmMax = 100000
priceMin = 0
priceMax = 100000

parametros = {
    'filters_source': 'suggester',
    'keywords': make + ' ' + model,
    'category_ids': 100,
    'longitude': -3.69196,
    'latitude': 40.41956,
    'yearMin': yearMin,
    'yearMax': yearMax,
    'kmMin': kmMin,
    'kmMax': kmMax,
    'priceMin': priceMin,
    'priceMax': priceMax
}

url_base = 'https://api.wallapop.com/api/v3/cars/search?'
url_completa = url_base + urllib.parse.urlencode(parametros)
response = requests.get(url_completa)
print(response)
df_walla = pd.DataFrame()
if response.ok:
    try:
        data = response.json()
        rows = []
        for obj in data['search_objects']:
            row = obj['content']
            rows.append(row)
        df_walla = pd.DataFrame(rows)
    except Exception as e:
        print("Error:", e)
print(df_walla.columns)

<Response [200]>
Index(['id', 'title', 'storytelling', 'distance', 'images', 'user', 'flags',
       'visibility_flags', 'price', 'currency', 'web_slug', 'category_id',
       'brand', 'model', 'year', 'version', 'km', 'engine', 'gearbox',
       'horsepower', 'favorited', 'creation_date', 'modification_date',
       'location', 'shipping', 'supports_shipping'],
      dtype='object')

In [66]:
df_walla['web_slug'].head(20)

0                               audi-a3-2020-1008786846
1                                audi-a3-2012-994852781
2                               audi-a3-2011-1007111232
3     audi-a3-sportback-40-tdi-quattro-stronic-200cv...
4     audi-a3-cabrio-sline-edition-1-6-tdi-110cv-100...
5                       audi-a3-2-0-fsi-2004-1000888969
6     audi-a3-sb-design-30-tdi-s-tronic-116-cv-10085...
7     audi-a3-sedan-advanced-30-tdi-s-tronic-116-cv-...
8       audi-a3-sb-advanced-35-tdi-s-t-150-cv-980351100
9     audi-a3-sedan-s-line-35-tdi-s-tronic-150-cv-10...
10    audi-a3-sportback-s-line-35-tdi-s-tronic-150-c...
11    audi-a3-sportback-s-line-35-tdi-s-tronic-150-c...
12    audi-a3-sedan-s-line-35-tdi-s-tronic-150-cv-99...
13    audi-a3-s-line-edition-1-6-tdi-sportback-97412...
14    audi-a3-sportback-35-tfsi-110kw-s-tronic-99071...
15    audi-a3-sportback-30-tfsi-85-kw-116-cv-1004978023
16    audi-a3-35-tdi-110kw-150cv-s-tronic-sportback-...
17    audi-a3-sportback-advanced-35-tfsi-110-kw-150-...
18      audi-a3-2019-s-line-s-tonic-nacional-1005634475
19                              audi-a3-2013-1009598796
Name: web_slug, dtype: object

In [67]:
parametros = {
        'tipo_busqueda': '2',
        'seminuevo': '0',
        'ord[]': 'marca_up',
        'searched3': '',
        'color': '',
        'combustible_id': '',
        'precio_desde': priceMin,
        'precio_hasta': priceMax,
        'scf_fee_desde': '',
        'scf_fee_hasta': '',
        'potencia_desde': '',
        'potencia_hasta': '',
        'km_desde': kmMin,
        'km_hasta': kmMax,
        'anyo_desde': yearMin,
        'anyo_hasta': yearMax,
        'cambio': '',
        'puertas': '',
        'plazas': '',
        'vendedor': '',
        'make_list[]': '',
        'transmission_name': '',
        'agent_type_name': '',
        'has_financing': '',
        'reservable': '',
        'search3': make + ' ' + model,
    }
url_base = 'https://www.coches.com/api/vo/pills/?'
url_completa = url_base + urllib.parse.urlencode(parametros)
response = requests.get(url_completa)
data = ''
if response.ok:
    try:
        data = response.json()

        df_com = pd.DataFrame(data['pills'])
    except:
        print("Error:", e)

In [68]:
print(data['pills'][0]['url'])

https://www.coches.com/coches-segunda-mano/ocasion-audi-a3-s3-sportback-20-tfsi-quattro-s-tronic-en-barcelona.htm?id=8125894

In [69]:
same_columns_wallapop = ['id', 'title', 'images', 'price', 'brand', 'model', 'year', 'km', 'engine', 'horsepower','web_slug']
same_columns_coches_com = ['id','image', 'price', 'url' , 'make', 'model' , 'fuel', 'cv', 'km', 'year']
comon_names = ['id','image','price','make','model','year','km','fuelType','horsepower','cv','url']
rename_columns = {
    'web_slug': 'url',
    'engine': 'fuelType',
    'fuel' : 'fuelType',
    'horsepower': 'cv',
    'brand' : 'make',
    'images': 'image',
    'url': 'link'
}
delete_columns = ['title']
df_walla['images'] = df_walla['images'].apply(lambda x: x[0]['original'] if isinstance(x, list) and len(x) > 0 else None)
df_walla['web_slug'] = 'https://es.wallapop.com/item/' + df_walla['web_slug'].astype(str)

df_walla.rename(columns=rename_columns, inplace=True)

df_walla.drop(columns=delete_columns, inplace=True, errors='ignore')

df_com.rename(columns=rename_columns, inplace=True)

df_com.drop(columns=delete_columns, inplace=True, errors='ignore')

df_walla = df_walla[[col for col in comon_names if col in df_walla.columns]]
df_com = df_com[[col for col in comon_names if col in df_com.columns]]

df_walla['site'] = 'walla'

df_com['site'] = 'com'

df = pd.concat([df_com, df_walla], ignore_index=True)
df['price'] = df['price'].fillna(0).replace({'€': '', '.': '', ',': '', '': 0}, regex=True)
df['km'] = df['km'].fillna(0).replace({'€': '', '.': '', ',': '','': 0 }, regex=True)
# pass price and km to numeric
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['km'] = pd.to_numeric(df['km'], errors='coerce')
df['year'] = df['year'].fillna(0).astype(int)
score = (df['price'] - df['price'].mean()) / df['price'].std() + (df['km'] - df['km'].mean()) / df['km'].std() + (df['year'] - df['year'].mean()) / df['year'].std()
df['score'] = score
print(df.columns)

Index(['id', 'image', 'price', 'make', 'model', 'year', 'km', 'fuelType', 'cv',
       'site', 'url', 'score'],
      dtype='object')

In [70]:
print(len(df_walla))
df_walla.head(1)

40

,id,image,price,make,model,year,km,fuelType,cv,url,site
0,8z8k8nplq8z3,https://cdn.wallapop.com/images/10420/go/ls/__...,18500.0,Audi,A3,2020,175000.0,Gasoil,150.0,https://es.wallapop.com/item/audi-a3-2020-1008...,walla

In [71]:
print(len(df_com))
df_com.head(1)

20

,id,image,price,make,model,year,km,fuelType,cv,site
0,8125894,https://images.coches.com/_vo_/fotos/usados/20...,26.900 €,Audi,A3,2014,75.000,Gasolina,300,com